body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

/* Cont del tulipan */
.tulipan {
    position: relative;
    width: 80px;
    height: 300px;
    z-index: 2;
}

.tallo {
    position: absolute;
    bottom: 0;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 160px;
    background: linear-gradient(to right, #528a44,#66834b);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(139, 195, 74, 0.5);
    z-index: 2;
/*     animation: moverTallo 3s infinite ease-in-out;*/
}

.hoja {
    position: absolute;
    width: 35px;
    height: 80px;
    background: linear-gradient(to bottom, #528a44,#66834b);
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
}

.hoja-1 {
    top: 110px;
    right: 45px;
    position: absolute;
    transform: rotate(-40deg);
    border-radius: 0% 50% 50% 50%;
    z-index: 1;
    animation: moverHoja1 5s infinite ease-in-out;

}

@keyframes moverHoja1 {

    0%,
    100% {
        transform: rotate(-35deg);
    }

    50% {
        transform: rotate(-42deg);
    }
}

.hoja-2 {
    top: 110px;
    right: -5px;
    transform: rotate(40deg);
    border-radius: 0% 50% 50% 50%;
    animation: moverHoja2 5s infinite ease-in-out;
}

@keyframes moverHoja2 {

    0%,
    100% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(50deg);
    }
}


/* petalos FF6F91?? o red */
.petalo {
    position: absolute;
    width: 60px;
    height: 90px;
    background: linear-gradient(to bottom, #e6234e, #ff5d8d);
    border-radius: 50% 50% 0 50%;
    transform-origin: bottom center;
    box-shadow: 0 0 10px #e6234e;
    transition: transform 0.5s ease-in-out;
    z-index: 2  ;
}

.petalo-1 {
    top: 0;
    left: 50%;
    animation: moverPetalo1 3s infinite ease-in-out;
}

.petalo-2 { 
    top: 5px;
    left: 40%;
    border-radius: 0% 50% 50% 37%;
    animation: moverPetalo2 4s infinite ease-in-out;
}

.petalo-3 {
    top: 5px;
    right: 40%;
    border-radius: 50% 0% 37% 50%;
    animation: moverPetalo3 3.5s infinite ease-in-out;
}

@keyframes moverPetalo1 {

    0%,
    100% {
        transform: translateX(-50%) rotate(0deg);
    }

    50% {
        transform: translateX(-50%) rotate(-5deg);
    }
}

@keyframes moverPetalo2 {

    0%,
    100% {
        transform: translateX(-50%) rotate(-20deg);
    }

    50% {
        transform: translateX(-50%) rotate(-25deg);
    }
}

@keyframes moverPetalo3 {

    0%,
    100% {
        transform: translateX(50%) rotate(20deg);
    }

    50% {
        transform: translateX(50%) rotate(15deg);
    }
}

/* estrellas */
.estrella {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: brillar 2s infinite ease-in-out;
}

@keyframes brillar {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.spotify-container iframe {
    border-radius: 12px;
    box-shadow: 0 0 10px #00000080; 
}

.mensaje-cumpleanos {
    position: absolute;
    text-align: center;
    z-index: 10;
    display: none; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border-radius: 10px;
}

.mensaje-cumpleanos img {
    width: 85px; 
    height: auto;
    margin-bottom: 5px;
}

.mensaje-cumpleanos p {
    font-size: 15px; 
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}